.CalendarEvent {
  border: 1px rgb(3, 155, 229) solid;
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px 3px;
}

.CalendarEvent-span {
  margin-right: 4px;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
  width: 50px;
}
