.CalendarCell-day {
  text-align: center;
  font-size: 0.9rem;
  padding: 2px 3px 0 0;
}

.CalendarCell {
    background: white;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
  